.project {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .project__title {
    margin: 50px auto 0 auto;
    color: #3e497a;
    font-size: 35px;
  }
  .project__image {
    max-width: 90%;
    min-width: 40%;
    border-radius: 10px;
    margin: 20px auto;
  }
  
  .project {
    font-size: 40px;
    color: #3e497a;
  }
  
  .project svg {
    font-size: 60px;
    color: #3e497a;
  }
  
  .project__text {
    font-size: 20px;
  }

  .project__text_description {
    max-width: 60%;
  }

  .project__skills {
    margin: 0 auto;
    max-width: 80%;
    text-align: center;
  }