.testimonial {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .testimonial h1 {
    margin-top: 50px;
    color: #3e497a;
    font-size: 35px;
  }
  .testimonial img {
    max-width: 90%;
    min-width: 40%;
    border-radius: 10px;
  }
  
  .testimonial {
    font-size: 40px;
    color: #3e497a;
  }
  
  .testimonial svg {
    font-size: 60px;
    color: #3e497a;
  }
  
  .project__text {
    font-size: 20px;
  }

  .project__text_description {
    max-width: 60%;
  }