.testimonial {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .testimonial__title {
    color: #03032D;
    font-size: 35px;
    margin: 50px auto 20px auto;
    text-align: center;
  }
  .testimonial__image {
    max-width: 90%;
    min-width: 40%;
    border-radius: 10px;
    margin-top: 10px;
  }
  
  .testimonial {
    font-size: 40px;
    color: #03032D;
  }
  
  .testimonial svg {
    font-size: 60px;
    color: #03032D;
  }
  
  .project__text {
    font-size: 20px;
  }

  .project__text_description {
    max-width: 60%;
  }